@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
html, body {
  min-height: 100%;
  background: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #616161;
  font-size: 14px;
  overflow-x: hidden;
}

.titlefont, h1, h2, h3, h4, h5, h6, .btn, .nav-link, .btn-link {
  font-family: "Plus Jakarta Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #181818;
}

a {
  text-decoration: none !important;
}

.primary-color {
  color: #8edb41;
}

.text-darkcolor {
  color: #181818 !important;
}

.btn {
  -webkit-transition: background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.btn:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

.btn-default {
  background: #8edb41;
  color: #181818;
  padding: 8px 30px;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid transparent;
}

.btn-default:hover {
  color: #8edb41;
  background: #005aa6;
  border-color: #005aa6;
}

.btn-secondary {
  background: #005aa6;
  color: #fff;
  padding: 8px 30px;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid transparent;
}

.btn-secondary:hover {
  color: #fff;
  background: #8edb41;
  border-color: #8edb41;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.header {
  width: 100%;
  z-index: 999;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 14px 0;
  z-index: 999;
  background: #eef1f6;
}

.header .navbar-nav .nav-link {
  color: #181818;
  margin-right: 50px;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar-nav .nav-link:hover, .header .navbar-nav .nav-link.active {
  color: #005aa6;
}

.header .navbar-nav .nav-link:hover .dropdown-toggle, .header .navbar-nav .nav-link.active .dropdown-toggle {
  color: #005aa6;
}

.header .navbar-nav .nav-link:hover p, .header .navbar-nav .nav-link.active p {
  color: #000;
}

.header .navbar-brand img {
  height: 90px;
}

.section-space {
  padding: 90px 0;
}

.primary-color {
  color: #8edb41 !important;
}

.secondary-color {
  color: #005aa6 !important;
}

.darkprimary-color {
  color: #181818 !important;
}

.details-text {
  color: #595959;
  font-size: 16px;
  line-height: 26px;
  margin: 0 0 30px;
}

.hero-banner {
  background: #eef1f6;
}

.hero-banner .caption-wrapper {
  max-width: 548px;
}

.hero-banner .title-font {
  font-size: 60px;
  line-height: 70px;
  margin: 0 0 30px;
  font-weight: 700;
}

.hero-banner .title-font .devider-text {
  position: relative;
}

.hero-banner .title-font .devider-text::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #005aa6;
}

.hero-banner .icon-group {
  position: relative;
  background: #fff;
  border-left: 4px solid #8edb41;
  border-radius: 100px;
  overflow: hidden;
}

.hero-banner .icon-group .form-control {
  background: transparent;
  border: 0;
  padding: 10px 10px 10px 46px;
}

.hero-banner .icon-group .control-icon {
  position: absolute;
  left: 15px;
  top: 10px;
}

.hero-banner .bn-img {
  position: absolute;
  bottom: -100px;
  max-width: 690px;
  right: -110px;
}

.section-title {
  font-size: 36px;
  font-weight: 600;
  color: #181818;
  margin: 0 0 30px;
}

.section-title-sm {
  font-size: 24px;
  font-weight: 600;
  color: #181818;
  margin: 0 0 30px;
}

.sm-title {
  font-size: 14px;
  font-weight: 600;
  color: #181818;
}

.country-box {
  text-align: center;
  margin: 30px 0 0;
}

.country-box .country-flag {
  background: #eef1f6;
  height: 70px;
  width: 70px;
  border-radius: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 15px;
}

.country-box .country-flag img {
  height: 22px;
  -o-object-fit: contain;
     object-fit: contain;
}

.packages-section {
  background: #005aa6;
}

.packages-box {
  padding: 25px;
  border-radius: 10px;
  background: #fff;
  margin-top: 30px;
}

.packages-box .section-title-sm {
  font-size: 22px;
}

.packages-box .details-text {
  font-size: 16px;
  font-weight: 600;
}

.packages-box .mw-1 {
  max-width: 1px;
}

.verical-devider {
  height: 100%;
  width: 1px;
  padding: 0;
  min-width: 1px;
  background: #005aa6;
}

.lightgray-bg {
  background: #eef1f6;
}

.cta-wrapper {
  background: url(../../assets/imgs/cta-bg.png) no-repeat;
  background-size: cover;
  position: relative;
  padding: 50px;
  margin-top: 126px;
  border-radius: 10px;
}

.cta-wrapper .cta-img {
  position: absolute;
  right: 30px;
  bottom: 0;
}

.fw-500 {
  font-weight: 500;
}

.user-icon {
  height: 70px;
  width: 70px;
  border-radius: 70px;
  overflow: hidden;
  margin: 20px auto;
}

.user-icon img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.username {
  font-size: 18px;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after, .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: none;
}

.social-ic {
  width: 18px;
  height: 18px;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer {
  background: #005aa6;
}

.footer .details-text {
  font-size: 14px;
}

.footer .ft-links {
  margin-bottom: 5px;
}

.footer .ft-links a {
  font-size: 14px;
  color: #fff;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .ft-links a::before {
  content: "";
  height: 1px;
  width: 0;
  background: #8edb41;
  display: block;
  margin-right: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer .ft-links a:hover {
  color: #8edb41;
}

.footer .ft-links a:hover::before {
  margin-right: 10px;
  width: 10px;
}

.footer .paymentcard-img {
  width: 36px;
}

.footer .copyright a:hover {
  color: #8edb41 !important;
}

.details-text-sm {
  font-size: 14px;
}

.accordion-item {
  background-color: #fff;
  border: 0;
  margin: 0 0 20px;
  border-radius: 8px !important;
  overflow: hidden;
}

.accordion-item .accordion-button {
  border: 0;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
  font-size: 14px;
  font-weight: 600;
  color: #181818;
}

.accordion-item .accordion-button::after {
  background: none;
  content: '+';
  font-size: 24px;
  line-height: 13px;
  text-align: center;
}

.accordion-item .accordion-button:not(.collapsed) {
  background: #005aa6;
  color: #fff;
}

.accordion-item .accordion-button:not(.collapsed)::after {
  content: '-';
}

.language-dropdown {
  position: fixed;
  bottom: 116px;
  right: 20px;
  z-index: 999;
}

.language-dropdown .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background: #fff;
  border-radius: 50px;
  color: #181818;
  font-weight: 600;
  border: 1px solid #eef1f6;
  -webkit-box-shadow: 0 6px 9px 0px #cfcfcf5c;
          box-shadow: 0 6px 9px 0px #cfcfcf5c;
  outline: none !important;
}

.language-dropdown .dropdown-menu {
  padding: 0;
}

.language-dropdown .dropdown-menu .dropdown-item {
  padding: 8px 20px;
  border-bottom: 1px solid #eef1f6;
  font-size: 14px;
  color: #181818;
  font-weight: 500;
}

.language-dropdown .dropdown-menu .dropdown-item:active {
  background: transparent;
}

.chat-boaticon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.login-wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
}

.login-wrapper .login-banner {
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  right: 0;
  top: 0;
}

.login-wrapper .center-box {
  position: absolute;
  left: 0;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
}

.login-wrapper .form-box {
  max-width: 500px;
  margin: 30px auto;
  width: 100%;
  padding: 0 30px;
}

.login-wrapper .form-control {
  height: 52px;
  background: #EEF1F6;
  color: #1C1C1C;
  border: 0;
  font-size: 14px;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
  border-radius: 10px;
  padding: 14px 18px;
}

.login-wrapper .form-control:placeholder {
  color: #1C1C1C;
}

.login-wrapper .eye-icon {
  position: absolute;
  right: 18px;
  top: 14px;
  cursor: pointer;
  background: none;
  border: 0;
  padding: 0;
}

.login-wrapper .details-text {
  font-size: 14px;
}

.login-wrapper .devider {
  font-size: 16px;
  color: #181818;
  font-weight: 700;
  padding: 20px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-wrapper .devider div {
  background: #fff;
  padding: 2px 4px;
  z-index: 1;
}

.login-wrapper .devider span {
  color: #525252;
  font-weight: 600;
}

.login-wrapper .devider:before {
  content: '';
  z-index: 1;
  height: 1px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #F0EDFF;
}

.login-wrapper .social-btn {
  margin-top: 16px;
  border: 1px solid #F0EDFF;
  border-radius: 50px;
  background: transparent;
  padding: 10px 14px;
  font-size: 16px;
  color: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  gap: 10px;
}

.login-wrapper .social-btn img {
  width: 24px;
}

.login-wrapper .social-btn span {
  font-weight: 700;
}

.login-wrapper .bottom-links {
  padding: 30px 0;
  text-align: center;
  color: #181818;
}

.login-wrapper .bottom-links a {
  font-weight: 600;
  color: #005aa6;
}

.slide-country-box {
  position: relative;
}

.slide-country-box .cover-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide-country-box .country-name {
  position: absolute;
  top: 15px;
  left: 0;
  color: #fff;
  padding: 12px 10px;
  text-align: center;
  background: rgba(0, 90, 166, 0.75);
  width: 80%;
  text-align: center;
  font-size: 16px;
}

.country-swiper .swiper-button-next, .country-swiper .swiper-button-prev {
  margin-top: -10px;
}

.country-swiper .swiper-button-next {
  right: 16px;
}

.country-swiper .swiper-button-prev {
  left: 16px;
}

.country-links {
  border: 1px solid #EEF1F6;
  padding: 12px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #181818 !important;
  margin-top: 30px;
}

.country-links:hover {
  border-color: #005aa6;
}

.country-tabs {
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #EEF1F6;
  padding: 4px;
  border-radius: 50px;
}

.country-tabs .nav-link {
  border: 0;
  padding: 12px 28px;
  color: #181818;
  font-size: 16px;
  font-weight: 700;
}

.country-tabs .nav-link.active {
  border-radius: 50px;
  color: #fff;
  background: #005aa6;
}

.regions-card {
  background: #F0F0F0;
  border: 1px solid #D0D0D0;
  border-radius: 10px;
  display: block;
  margin-bottom: 30px;
}

.regions-card .devider-card-content {
  border-bottom: 1px solid #D0D0D0;
  text-transform: uppercase;
  color: #595959;
  font-weight: 700;
}

.regions-card .devider-card-content .badge {
  border: 1px solid #D0D0D0;
  border-radius: 4px;
  color: #595959;
  padding: 8px;
}

.regions-card .devider-card-content .h6 {
  color: #595959;
  font-weight: 700;
}

.blue-bg-card {
  background: rgba(59, 89, 152, 0.25);
}

.linkModal {
  z-index: 9999;
}

.linkModal .modal-body {
  background: #F0F0F0;
}

.linkModal .btn-close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
}

.linkModal .devider-card-content:last-child {
  border-bottom: 0;
}

@media (min-width: 1200px) {
  .col-lg-20 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 20%;
  }
}

@media (max-width: 1400px) {
  .header .navbar-brand img {
    height: 70px;
  }
  .header .navbar-nav .nav-link {
    margin-right: 30px;
  }
  .hero-banner .caption-wrapper {
    max-width: 438px;
  }
  .hero-banner .title-font {
    font-size: 48px;
    line-height: 60px;
  }
  .hero-banner .bn-img {
    max-width: 650px;
  }
  .section-space {
    padding: 70px 0;
  }
}

@media (max-width: 1199px) {
  .header {
    padding: 0;
  }
  .home-banner .bn-img {
    margin: -105px -210px 0 auto;
  }
  .home-banner .caption {
    width: 440px;
  }
  .home-banner .home-title {
    font-size: 34px;
    line-height: 42px;
  }
  .section-space {
    padding: 60px 0;
  }
  .hero-banner .title-font {
    font-size: 42px;
    line-height: 54px;
  }
  .hero-banner .bn-img {
    max-width: 540px;
    bottom: -60px;
  }
  .btn-default {
    padding: 8px 22px;
  }
  .cta-wrapper .cta-img {
    max-width: 380px;
  }
}

@media (max-width: 992px) {
  .btn-default {
    padding: 8px 18px;
  }
  .header {
    padding: 15px 0;
  }
  .header .navbar-toggler {
    background: #8edb41;
    color: #fff;
    border-radius: 8px;
    margin-left: auto;
    padding: 6px 8px;
    font-size: 16px;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    margin-right: 10px;
  }
  .header .navbar-toggler .navbar-toggler-icon {
    height: 2px;
    width: 20px;
    background: #fff;
    margin: 4px 0;
    display: block;
  }
  .header .navbar-nav .nav-link {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    margin: 0;
  }
  .header .navbar-nav li.nav-item.dropdown .nav-link {
    pointer-events: auto;
  }
  .header .navbar-nav li.nav-item.dropdown .dropdown-toggle svg {
    margin: 0 0 0 auto;
    min-width: 30px;
    height: 30px;
    color: #000;
    cursor: no-drop;
    padding: 5px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .header .navbar-collapse {
    position: fixed;
    top: 100px;
    right: -100%;
    width: 100%;
    overflow: auto;
    display: block;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding: 10px 0;
    margin: 0 !important;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.09);
            box-shadow: 0 0 0 rgba(0, 0, 0, 0.09);
    background: #eef1f6;
    max-width: 300px;
    height: calc(100% - 70px);
    overflow: hidden auto;
    z-index: 22;
    border-top: 1px solid #ccc;
  }
  .header .navbar-collapse.show {
    right: 0;
  }
  .header .menu-backdrop {
    display: none;
  }
  .header .navbar-collapse.show + .menu-backdrop {
    display: block;
    position: fixed;
    left: 0;
    top: 100px;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.6;
    bottom: 0;
  }
  .hero-banner .caption-wrapper {
    max-width: unset;
    text-align: center;
    padding-top: 50px;
  }
  .hero-banner .title-font {
    font-size: 38px;
    line-height: 54px;
    margin: 0 0 20px;
  }
  .hero-banner .bn-img {
    max-width: 380px;
    position: unset;
    margin: 0 auto;
    display: block;
  }
  .section-title {
    font-size: 32px;
  }
  .dowmload-ic {
    height: 140px;
  }
  .cta-wrapper {
    margin-top: 0;
  }
  .cta-wrapper .cta-img {
    right: 10px;
    max-width: 310px;
  }
  .login-wrapper {
    background: #005aa6;
    background-image: url(../imgs/login-mobile-bg.png);
    background-size: cover;
    overflow: auto;
    min-height: 100vh;
    height: auto;
  }
  .login-wrapper .center-box {
    width: 100%;
    padding: 0 24px;
    position: relative;
  }
  .login-wrapper .form-box {
    padding: 0 30px;
    background: #fff;
    padding: 30px 30px 0;
    border-radius: 25px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 10px 0;
  }
  .header .navbar-collapse {
    top: 90px;
    height: calc(100% - 60px);
  }
  .header .navbar-collapse.show + .menu-backdrop {
    top: 90px;
  }
  .section-space {
    padding: 40px 0;
  }
  .btn-default {
    font-size: 14px;
  }
  .hero-banner .caption-wrapper {
    padding-top: 30px;
  }
  .hero-banner .title-font {
    font-size: 28px;
    line-height: 36px;
    margin: 0 0 10px;
  }
  .hero-banner .bn-img {
    max-width: 380px;
    position: unset;
    margin: 0 auto;
    display: block;
  }
  .section-title {
    font-size: 24px;
  }
  .section-title-sm {
    font-size: 20px;
    margin: 0 0 20px;
  }
  .details-text {
    font-size: 14px;
    line-height: 22px;
  }
  .packages-box .section-title-sm {
    font-size: 18px;
  }
  .cta-wrapper {
    padding: 30px 30px 0;
    text-align: center;
  }
  .cta-wrapper .cta-img {
    position: relative;
    right: 0;
    bottom: 0;
    max-width: 310px;
    margin: 20px auto 0;
    display: block;
    width: 100%;
  }
  .swiper-button-next img, .swiper-button-prev img {
    width: 34px;
  }
  .language-dropdown {
    bottom: 96px;
  }
  .chat-boaticon img {
    width: 60px;
  }
  .login-wrapper .form-control {
    height: 46px;
  }
}

@media (max-width: 567px) {
  .header .navbar > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
/*# sourceMappingURL=style.css.map */